<html>
    <head>
        <title>AQUA BRIDGE</title>
    </head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
    <link href="/~ys1438/sinatra/aqua2/views/css/bootstrap.min.css" rel="stylesheet">
    
    <style type="text/css">
        h1 {
            font-family: 'Open Sans Condensed', sans-serif;
            font-size: 1.2em;/*1.8em; 22px*/
            position: absolute;
            left: 20px;
            top: 25px;
            color: black;
        }
        h2 {
            font-family: 'Open Sans Condensed', sans-serif;
            font-size: 1.9em;/*34px;*/
            position: relative;
            text-align:center;
            top: 125px;
            color: #BABABA;
        }
        img {
            position: relative;
            display: block;
            margin-left: auto;
            margin-right: auto;
            top: 50px;
        }
        p {
            position: relative;
            text-align:center;
            padding-left: 10%;
            padding-right: 10%;
            
            top: 100px;
            font-size: 1.1em;
        }
    </style>
    
    <body>
    <div class="navbar-wrapper">
      <div class="container">

        <div class="navbar navbar-inverse navbar-static-top" role="navigation">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="http://itp.nyu.edu/~ys1438/sinatra/aqua2">PROJECT AQUA</a>
            </div>
            <div class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                <li><a href="http://itp.nyu.edu/~ys1438/sinatra/waterQuality">Map</a></li>
                
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Data</a><b class="caret"></b></a>
                  <ul class="dropdown-menu">
                    <li><a href="http://itp.nyu.edu/~ys1438/sinatra/aqua2/filter">Add a filter</a></li>
                    <li><a href="http://itp.nyu.edu/~ys1438/sinatra/aqua2/perform">Update filter performance</a></li>
                  </ul>
                </li>
                
                <li><a href="http://itp.nyu.edu/~ys1438/sinatra/aqua2/member">Team</a></li>
                <li><a href="#contact">Contact</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
         
        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="https://code.jquery.com/jquery.js"></script>
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script src="/~ys1438/sinatra/aqua2/views/js/bootstrap.min.js"></script>
            
        <img src="http://itp.nyu.edu/~ys1438/sinatra/waterQuality/views/mapImg/logo1.png" width="280" >
        
       <p style="background: #E0E0E0; padding-top: 30px;padding-bottom: 30px;">
            AQUA-BRIDGE tackles drinking water problems in the developing countries
        through the integration of water filtration technology and effective data management
        via a community-based web platform using Information Communication Technology </p>
        
        </br></br></br>
        <p style="font-size:35px; font-family: 'Open Sans Condensed'">DRINKING WATER PROBLEM IN KIWALANI</p>
        <p>Kiwalani community in Dar es Salaam, Tanzania, is an urban informal settlement.
        The majority of community members are currently suffering severely from water, sanitation
        and hygiene related problems. A neighboring large industrial area has seized the community's
        main water supply from the centralized water system, limiting the community's only source of drinking
        water to four privately owned wells.</p>
        
        <iframe src="https://www.google.com/maps/embed?pb=!1m12!1m8!1m3!1d63380.45899808621!2d39.237727272491455!3d-6.8571631401523465!3m2!1i1024!2i768!4f13.1!2m1!1sKiwalani+!5e0!3m2!1sen!2sus!4v1387942644837"
                width="360" height="260" frameborder="0"
                style="position:relative; display: block; margin-left: auto;
                margin-right: auto;top: 135px"></iframe>
        
        </br></br></br></br></br>
        <p style="font-size:35px; font-family: 'Open Sans Condensed'">THE TECHNOLOGY</p>
        <p>We tackle drinking water problems through the integration of water filtration technology and
        effective data management via a community-based web platform using
        Information Communication Technology (ICT). The ICT platform will allow us to make a data-driven decisions based on the
        sufficient information collected from our community. Our data management system can be divided
        into four steps.</p>
       
       </br>
        <p style="font-size: 1.1em; text-align:left; background: #F4F4F4;
        padding-left: 26%; padding-bottom: 30px; padding-top: 30px">
            STEP1: Data collection (water quality, community input, rent fee collection)
            </br>STEP2: Data mining & transforming (data visualization)
            </br>STEP3: Integrative data analysis (extract meaningful information)
            </br>STEP4: Data driven decision making (improved filter design, optimized filter management)
        </p>
   
        </br></br></br>
        <p style="font-size:35px; font-family: 'Open Sans Condensed'">THE IMPACT</p>
        <p>Provide sustainable drinking water systems to 500 people (50 households) in Kiwalani community,
        AND develop a web-based platform for data collection,
        transfer and analysis that will support community specific water treatment systems.</p>
        
        </br></br></br>
        <p style="font-size:35px; font-family: 'Open Sans Condensed'">OUR COMMUNITY PARTNER</p>
        <p style="padding-bottom:80px">Tanzania Gender Networking Program (TGNP) is
        Tanzania nationwide activist non-governmental organization based in Tanzania committed to
        pursuing three main goals: activism lobbying, coalition building, and enhancing women leadership
        in Tanzania. TGNP and AQUA-BRIDGE have been collaborated for past three years.</p>
        
        <img src="http://img.gawkerassets.com/img/17ydow5kiphesjpg/k-bigpic.jpg" width="100%" height="220">
    
    </body>
</html>